<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--if IEmeta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')-->
    <title>Norpparadio.net</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha256-NJWeQ+bs82iAeoT5Ktmqbi3NXwxcHlfaVejzJI2dklU=" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/themes/dark.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link href="/css/norpparadio.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css" integrity="sha256-Tu3DN+5kwrhzlzhNUMuGht2h7cR6ARgKcYemB9u5SzA=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <img class="d-xl-none img-responsive" style="max-height: 60px;" src="/images/norpparadio.png">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#home-sec"> Ylös <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#shoutbox-sec"> Shoutbox </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#map-sec"> Ohjelmakartta </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact-sec"> Ota yhteyttä </a>
            </li>
          </ul>
        </div>
    </nav>

    <div id="home-sec">
        <div class="overlay">
            <div class="container">
                <div class="row mt-5">
                    <div class="col-xl-4 col-xs-12 offset-xl-1">
                        <img class="ml-auto mr-auto mt-5 d-none d-xl-block img-responsive" src="/images/norpparadio.png">
                        <div class="text-center">
                            <h3 style="color: #fff;"> Kuuntele:</h3>
                            <a data-bind="click: playButton"><i class="far fa-8x" style="color: #fff" data-bind="css: getPlayButtonClasses"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 text-center text-xl-left">
                        <h1 class="mt-5 htext"><strong>Norpparadio </strong></h1>
                        <p class="home-p"> Norpparadio on Lappeenrannan teknillisen yliopiston ja Saimaan ammattikorkeakoulun opiskelijoiden pyörittämä wappuradio. <br>
                        Lähetykset loppu tältä wapulta. Kiitos kuuntelijoille ja tervetuloa kuuntelemaan taas ensi vuonna! </p>
                        <p class="home-p"> Haluatko mukaan toimintaan? Laita rohkeasti viestiä sähköpostiin tai Facebookiin! </p>
			<p class="home-p"> Puhelinnumero studioon: 041 723 0085 </p>
                        <div class="center-mobile mb-5">
                            
                            <div id="jquery_jplayer_1"></div>

                            <h3 style="color: #fff;" class="mt-4">Stream:</h3>
                            <a target="_blank" style="color: #fff; text-decoration: underline;" href="http://norpparadio.lnet.fi:8000/norpparadio.mp3">MP3</a> - <a target="_blank" style="color: #fff; text-decoration: underline;" href="http://norpparadio.lnet.fi:8000/norpparadio.ogg">OGG</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section id="sponsor-sec">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 text-center"><a href="http://www.aalef.fi"><img style="max-width: 300px; height: 100px;" class="img-responsive mt-4" src="/images/aalef.png"></a></div>
                        <div class="col-md-4 text-center"><a href="http://www.tek.fi"><img style="max-width: 300px; height: 100px;" class="img-responsive mt-4" src="/images/tek.png"></a></div>
                        <div class="col-md-4 text-center"><a href="http://www.loas.fi"><img style="max-width: 300px; height: 100px;" class="img-responsive mt-4 mb-4" src="/images/loas.png"></a></div>
                    </div>
                </div>
            </div>
    </section>

    <section id="shoutbox-sec">
        <div class="container">
            <div class="row">
                <aside class="sidebar col-md-8 offset-md-2" style="border-left: 1px solid rgba(0,0,0,.125); border-right: 1px solid rgba(0,0,0,.125); padding-left: 0; padding-right: 0;">
                    <div class="sidebar-nav-fixed">
                        <div class="panel panel-chat shoutbox">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center pb-2 pt-2">Shoutbox</h3>
                            </div>
                            <ul class="list-group" id="shoutsul" data-bind="foreach: shouts">
                                <li class="list-group-item" style="border-left: 0; border-right: 0;">
                                    <h6 class="list-group-item-heading pr-0">
                                        <span data-bind="text: nick"></span>
                                        <span class="time float-right" data-bind="text: timestamp"></span>
                                    </h6>
                                    <p class="message-content" data-bind="text: message"></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
            <div class="row mt-3">
                <div class="col-md-8 offset-md-2 pl-0 pr-0">
                    <div class="input-group">
                        <input class="form-control" data-bind="value: nickToSend" type="textarea" placeholder="Nimimerkki..." autocomplete="off">
                    </div>
                    <div class="input-group">
                        <input class="form-control" id="message" data-bind="value: messageToSend" type="textarea" placeholder="Viesti..." autocomplete="off" />
                        <div class="input-group-append">
                            <button class="btn btn-secondary" id="sendbutton" data-bind="click: sendShout">Lähetä!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="map-sec">
        <div class="container">
            <div class="row text-center min-set">
                <div class="col-md-12">
                    <h2>Ohjelmakartta</h2>
                    <hr class="sub-hr" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact-sec">
        <div class="container">
            <div class="row text-center min-set">
                <div class="col-md-12">
                    <h2> Ota yhteyttä!</h2>
                    <hr class="sub-hr">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4 class="contact">Norppaviihde ry</h4>
                    <h5> Ylioppilastalo, Laserkatu 10 </h5>
                    <h5> 53850 Lappeenranta </h5><br>
                    <h5> yllapito (at) norpparadio.net </h5>
                    <a href="http://www.facebook.com/norpparadio">
                        <i style="color: #fff;" class="fab fa-5x fa-facebook-square"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <%- exposeLocalsToBrowser() %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sails.io.js/1.0.1/sails.io.min.js" integrity="sha256-pykWUrSlQhgp0mN7VhTLx8FXgGFX/03YTK5MtMjfm94=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha256-C8oQVJ33cKtnkARnmeWp6SDChkU+u7KvsNMFUzkkUzk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.0/moment.min.js" integrity="sha256-DELCOgoVsZqjT78lDC7zcX+YFp+PEjh1k23mBMoDBwo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-debug.js" integrity="sha256-H9N9blVxqgLNhjZznl2m0R/VEIqFIT8CFHyLFGVRuns=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/jplayer/jquery.jplayer.min.js" integrity="sha256-YAIw54P6OPiIkUJq8S3ayOEunEz/MiK2AxDY0oFLNBs=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js" integrity="sha256-QvhPq+evNjd8JyxSOU5KL3jPYTD7+gWVev1OH763SL0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/gcal.min.js" integrity="sha256-/YkXWsBu/AMYKqnXKF1qV8ip72BCiu8YVOsa/LXfmho=" crossorigin="anonymous"></script>
    <script src="/js/norpparadio.js"></script>
    
</body>

</html>
