aside { position: relative;}
.shoutbox { width: 100%; border-radius: 0; }
.shoutbox .panel-heading { border-radius: 0; }
.shoutbox .profile-avatar { box-shadow: none; }
.shoutbox .list-group { height: 300px; overflow-y: auto; }
.shoutbox .list-group-item-heading, .shoutbox p { margin-left: 12px; padding-right: 30px; margin-bottom: 0.2em;}
.shoutbox .list-group-item .message-content { position: relative; margin-bottom: 0; }
.shoutbox .list-group-item .time { color: #777777; font-size: 12px; }
.shoutbox .list-group-item { padding-left: 0; }
.shoutbox .form-group { width: 100%; }
.shoutbox textarea.form-control { width: 100%; resize: none; }

.panel-chat { border-color: #ddd; }
.panel-chat > .panel-heading { color: #fff; background-color: #373d43; border-color: #ddd; }
.panel-chat > .panel-heading + .panel-collapse > .panel-body { border-top-color: #ddd; }
.panel-chat > .panel-heading .badge { color: #373d43; background-color: #fff; }
.panel-chat > .panel-footer + .panel-collapse > .panel-body { border-bottom-color: #ddd; }
