/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% Free To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */



/* =============================================================
   GENERAL STYLES
 ============================================================ */
body {
    font-family: 'Open Sans', sans-serif;
}

.pad-top {
    padding-top: 100px;
}

.head-glow {
    background-color: rgba(66, 139, 202, 0.8);
    color: #fff;
    padding: 0px 5px 0px 20px;
    margin: 0px 15px 0px 8px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

h2 {
    text-transform: uppercase;
    font-weight: 900;
}

.sub-hr {
    border: 1px solid rgba(184, 94, 255, 1);
    width: 10%!important;
}

.min-set {
    min-height: 100px;
}

.img-set {
    height: 100px;
    margin-top: 10px;
}
/* =============================================================
   NAV BAR STYLES
 ============================================================ */
.navbar-inverse {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: rgba(255, 255, 255, 0);
}

    .navbar-inverse .navbar-brand {
        color: #fff;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #fff;
        padding: 17px 12px;
    }
/* =============================================================
  HOME SECTION STYLES
 ============================================================ */
#home-sec {
    background: url(../images/home.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    min-height: 500px;
}

    #home-sec .overlay {
        background-color: rgba(149, 166, 248, 0.75);
        min-height: 500px;
    }

    #home-sec h1 {
        line-height: 80px;
        font-size: 45px;
        font-weight: 900;
        color: #fff;
    }

    #home-sec mark {
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        padding: 0px 5px 0px 20px;
        margin: 0px 15px 0px 8px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
    }

.home-p {
    line-height: 30px;
    color: #E0E0E0;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn-home {
    background-color: rgba(66, 139, 202, 0.8);
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
}

.img-home-side {
    padding-left: 30px;
    padding-top: 180px;
    text-align: center;
    color: #fff;
}

/* =============================================================
  FEATURES SECTION STYLES 
 ============================================================ */
#shoutbox-sec h3 {
    color: #fff;
}

#shoutbox-sec hr {
    border: 1px solid rgba(184, 94, 255, 1);
    width: 30%;
}

#shoutbox-sec p {
    line-height: 30px;
    color: #9C9C9C;
}
/*  IMAGE STYLE   */
.main-img {
    content: url('../img/bulb-yellow.png'); /*YELLOW IMAGE URL  */
    cursor: pointer;
    height: 250px;
    cursor: pointer;
    margin-bottom: 80px;
}
    /*  IMAGE STYLE ON HOVER - WHICH CHANGE THE IMAGE TO bulb-white.png   */
    .main-img:hover {
        content: url('../img/bulb-white.png'); /*WHITE IMAGE URL ON HOVER */
        cursor: pointer;
    }


/* =============================================================
  SKILL SECTION STYLES 
 ============================================================ */
#sponsor-sec h4 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 900;
}

#sponsor-sec {
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

    #sponsor-sec .overlay {
        /* padding-top: 25px; */
        min-height: 150px;
        background-color: #fff;
    }
/* =============================================================
  ADVANCE SECTION STYLES 
 ============================================================ */
#map-sec h3 {
    color: #666565;
}

#map-sec p {
    line-height: 30px;
    color: #9C9C9C;
}

/* =============================================================
  JUST SECTION STYLES 
 ============================================================ */
#just-sec {
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    font-size: 30px;
    text-align: center;
    color: #fff;
    line-height: 60px;
    font-weight: 900;
}

    #just-sec .overlay {
        background: rgba(72, 104, 233, 0.95);
        padding: 50px 30px;
    }
/*==========================================
   GALLERY STYLES
    =====================================================*/

#port-folio {
    padding-top: 10px;
    min-height: 550px;
}

.portfolio-item {
    border: 2px solid #e4e4e4;
    margin: 25px 5px;
    display: inline-block;
}



    .portfolio-item img:hover {
        cursor: pointer;
        -webkit-transform: scale(1.5, 1.5);
        -ms-transform: scale(1.5, 1.5);
        transform: scale(1.5, 1.5);
        transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s; /* Safari */
        z-index: 1;
    }

/*==========================================
   GALLERY/ PORTFOLIO FILTER STYLES
    =====================================================*/
ul#filters {
    padding: 0px;
}

#filters {
    margin: 3% 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

    #filters li {
        display: -webkit-inline-box;
    }

        #filters li span {
            display: block;
            padding: 5px 4px;
            text-decoration: none;
            cursor: pointer;
            font-size: 14px;
            font-weight: 800;
        }

#port-folio .portfolio-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    width: 100%;
    float: left;
    overflow: hidden;
    display: none;
}

/*==========================================
   LOCATION STYLES
    =====================================================*/
#contact-sec {
    background-color:rgba(50, 51, 58, 1);
    color: #fff;
}

    #contact-sec h3 {
        color: #fff;
        font-weight: 900;
    }
